#book-details {
    border: 2px solid black;
    background-color: #696767;
}

/* To make footer stay fixed at the bottom*/
html {
    height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('books.jpg') center center/cover no-repeat;
  min-height: 100vh; /* Ensure body takes up full viewport height */
}

h2 {
  color: #f1eaea;
}

header {
  background-color: #003049;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
/* Footer styles */
footer {
    background-color: #003049;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}
header h1 {
    margin: 0;
}
  
header form {
   display: flex;
}
  
  header label {
    margin-right: 0.5rem;
  }
  
  header input[type="text"] {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
  }
  header button[type="submit"] {
    background-color: #ef476f;
    color: #fff;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
  }
  main {
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  
  #book-results {
    width: 100%;
    background-color: antiquewhite;
  }
  
  #book-results h2 {
    margin-top: 0;
    color: black;
   
  }
  #book-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .book-item {
    background-color: #fff;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .book-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .book-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .book-item h3 {
    font-size: 1.2rem;
    margin: 0.5rem;
  }
  
  .book-item p {
    font-size: 1rem;
    margin: 0.5rem;
  }
  
  /* Book details styles */
  #book-details {
    width: calc(50% - 1rem);
    
  }
  
  #book-details h2 {
    margin-top: 0;
    color: black;
  }
  
  #book-cover {
    width: 100%;
    height: 200px;
    background-color: #eee;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  #book-details h3 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  
  #book-details p {
    font-size: 1.2rem;
    margin: 0.5rem 0;
  }
  
  #book-description {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  #book-reviews {
    margin-top: 1rem;
  }
  #clearButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  #clearButton:hover {
    background-color: red;
  }
  /* For screens smaller than 768px */
@media (max-width: 767px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  
  header form {
    margin-top: 1rem;
  }
  
  header input[type="text"] {
    width: 100%;
  }
  
  main {
    margin-top: 2rem;
  }
  
  #book-details {
    width: 100%;
  }
}

/* For screens between 768px and 1023px */
@media (min-width: 768px) and (max-width: 1023px) {
  main {
    margin: 1rem auto;
    max-width: 768px;
  }
  
  #book-details {
    width: 100%;
    margin-top: 2rem;
  }
}

/* For screens larger than 1023px */
@media (min-width: 1024px) {
  header {
    justify-content: flex-end;
  }
  
  main {
    max-width: 1024px;
    margin: 2rem auto;
  }
  
  #book-details {
    width: calc(33.33% - 1rem);
    margin-top: 0;
  }
}



 